In [2]:
import pandas as pd
# from  postgres_pwd import pwd

In [3]:
Toy_df=pd.read_csv("ToyTransformers.csv",index_col="id")

In [4]:
Toy_df.head()

   suppliername       toyname   price  unit productlocation
id
1         Niket  optimusprime  $20.00     5           RG001
2         Nived     Bumblebee  $15.00     2           LG005
3        Udith   optimusprime  $30.00     3           LA007

In [ ]:
# Toy_df=Toy_df.rename(columns={'Name':'name','ToyName':'toyname'})
# Toy_df.set_index('id',inplace=True)

Postgres Database connection

In [ ]:
# connstr=f"postgres:{pwd}@localhost:5432/ToyTransformer_DB"
# engine=create_engine(f'postgresql://{connstr}')

# engine.table_names()

# # Toy_df.to_sql(name='toy_tb',con=engine,if_exists='append',index=True)
# # #CT_census.to_sql(name='ct_census',con=engine,if_exists='replace',index=True)


# from sqlalchemy.orm import Session
# from sqlalchemy.ext.automap import automap_base

# engine

# base=automap_base()

# base.prepare(engine, reflect=True)

# base.classes.keys()

# Toy=base.classes.toy_tb

# session=Session(engine)

# data = engine.execute("SELECT * FROM toy_tb")
# for record in data:
#     print(record)

# base.metadata.create_all(engine)

# inspector=inspect(engine)
# inspector.get_table_names()


# Col=inspector.get_columns('toy_tb')
# for c in Col:
#     print(c['name'],c['type'])

# session.query(Toy.id,Toy.name,Toy.toyname).all()

# cat = Toy(name="Nik", toyname="Jazz")

# session.add(cat)
# session.flush()
# session.commit()

# # session.rollback()
# # session.refresh(cat)

# session.close()

# SQLite Database connection

In [5]:
from sqlalchemy import create_engine,inspect,Column,Integer,String,Float
from sqlalchemy.ext.declarative import declarative_base
Base=declarative_base()

In [6]:
class ToyInventory(Base):
    __tablename__='toyinventory'
    id=Column(Integer,primary_key=True)
    suppliername=Column(String)
    toyname=Column(String)
    price=Column(Float)
    unit=Column(Integer)
    productlocation=Column(String)

In [7]:
engine=create_engine("sqlite:///toyinventory.db",echo=False)
conn=engine.connect()
Base.metadata.create_all(engine)

In [8]:
Toy_df.to_sql('toyinventory',con=engine,if_exists="append",index=False)

In [9]:
from sqlalchemy.ext.automap import automap_base
base=automap_base()
base.prepare(engine,reflect=True)

In [10]:
Toy=base.classes.toyinventory

In [11]:
base.classes.keys()

['toyinventory']

In [12]:
inspector=inspect(engine)

In [13]:
col=inspector.get_columns('toyinventory')
for c in col:
    print(c["name"],c['type'])

id INTEGER
suppliername VARCHAR
toyname VARCHAR
price FLOAT
unit INTEGER
productlocation VARCHAR

In [14]:
from sqlalchemy.orm import Session
session=Session(bind=engine)

In [17]:
results=session.query(Toy).all()
for row in results:
    print(row.id,row.suppliername,row.toyname,row.price,row.unit,row.productlocation )

In [16]:
# Delete all records
session.query(Toy).delete()

11

In [22]:
NewItem=Toy(suppliername="Jasper",toyname="Hotrod")
# ,price=10.00,unit=8,productlocation="BR001")

In [23]:
session.add(NewItem)

In [ ]:
# session.rollback()

In [17]:
results=session.query(Toy).all()
for row in results:
    print(row.id,row.suppliername,row.toyname,row.price,row.unit,row.productlocation )

1 Niket optimusprime $20.00 5 RG001
2 Nived Bumblebee $15.00 2 LG005
3 Udith  optimusprime $30.00 3 LA007
4 Jasper Hotrod 10.0 8 BR001
5 Niket optimusprime $20.00 5 RG001
6 Nived Bumblebee $15.00 2 LG005
7 Udith  optimusprime $30.00 3 LA007
8 Jasper Hotrod 10.0 8 BR001

In [ ]:
# Toy=base.classes.toyinventory

In [24]:
session.query(Toy.suppliername,Toy.toyname,Toy.price,Toy.unit,Toy.productlocation).all()

[('Jasper', 'Hotrod', None, None, None)]

In [25]:
session.commit()

In [26]:
session.close()